.forgot{
    margin:auto;
    display:block;
    cursor:pointer;
 }
 
 .pointer {
     cursor:pointer;
 }
 
 .sign{
     margin-bottom: 10px;
     width:75%;
     margin: auto;
     border:2px solid ;
     border-radius: 10px;
     background-color: #5dde8f;
 }
 
 image{
   height:100%;
   width:100%;
    object-fit: cover;
 }
 
 .bordere{
    
     -webkit-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.25);
     -moz-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.25);
     box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.25);
 }
 
 input:focus,
 select:focus,
 textarea:focus,
 button:focus {
     outline: none;
     box-shadow:none !important;
 }
 
 .nav-link:hover
 {
     background-color:#434175;
     border:none;
     border-radius: 4px;
 }
 
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #24a0ed;
     opacity: .5; /* Firefox */
   }
   
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #24a0ed;
   }
   
   ::-ms-input-placeholder { /* Microsoft Edge */
     color: #24a0ed;
   }
   
   .animate{
     transition: all 0.2s ease-in-out;
   }
   .animate:hover{
     transform: translateY(-1px);
     
   }
   .dec{
     text-decoration: none;
     
   }
   .dec:hover{
     color: green;
   }
 
   .set{
    
     border-radius:15px;
     margin-top:auto;
     margin-bottom: auto;
     -webkit-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.75);
     box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.75);
      
   
   }
 
   
   .container {
     position: relative;
    background: none;
    background-color: white;
    height:100%;
    width:100%
     
   }
 
 
   